cscope*
*~
.*.swp
vimtags
setproj
vimtagfile
dirtags
**/build
**/*~
**/*/*~
**/cscope*
**/*/cscope*
**/vimtagfile
**/*/vimtagfile
**/*/.*.swp
**/*/.gitignore
**/*.o
**/*.a
**/*/__pycache__
**/*/pyshtables.py
vimtools/vim/scripts/proj_settings.vim
